boto3==1.24.96
boto3-stubs-lite==1.24.96
botocore==1.27.96
botocore-stubs==1.27.96
jmespath==1.0.1
mypy-boto3-codedeploy==1.24.84
mypy-boto3-ec2==1.24.86
mypy-boto3-elbv2==1.24.89
mypy-boto3-iam==1.24.90
mypy-boto3-s3==1.24.94
mypy-boto3-sts==1.24.36.post1
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
types-awscrt==0.14.7
types-s3transfer==0.6.0.post4
typing_extensions==4.4.0
urllib3==1.26.12
paramiko~=2.11.0